# API Configuration
NEXT_PUBLIC_API_URL=https://api.tada.illiacodes.com/api
NEXT_PUBLIC_APP_URL=https://tada.illiacodes.dev

# Environment
NEXT_PUBLIC_ENVIRONMENT=test

# Features
NEXT_PUBLIC_ENABLE_DEBUG=true
NEXT_PUBLIC_ENABLE_ANALYTICS=false

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=516032355980-e0p8upqo8qr99pfq5idlcmeoa8ffb0m2.apps.googleusercontent.com 